.salmon1{
   /* background-color: aquamarine !important; */
   color:black;
   font-size: 10px;
   position:fixed;
   /* border:2px solid red; */
   top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   backdrop-filter: blur(4px) ;
   /* position:absolute; top:0px; right:0px; bottom:0px; left:0px; */
   z-index: 10000;
   display: flex;
   justify-content: center;
   align-items: center;
}
.box{
    /*top:20px;
    right:20px;
    */
    /* border:2px solid red; */
    box-shadow: 0px 5px 5px cornsilk;
    height:68%;
    width: 65%;
    border-radius:25px ;
    -webkit-border-radius:25px ;
    -moz-border-radius:25px ;
    -ms-border-radius:25px ;
    -o-border-radius:25px ;

}
.del{
    display: flex;
    justify-content: center;
}
/* h2{
    
} */
.box {
    /* display: inline; */
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    /* flex-flow: column nowrap; */
    overflow-x: scroll;
    /* align-items: stretch; */
    /* font-size: 0.9em; */
    /* font-size: min(1.8vh,1.7vw); */
    /* flex-wrap: wrap; */
    position: relative;

}
.h2_description{
height: 20%;
}
.screen_div{
    height:50%;
}

.screen_div > h2 {
    /* font-size: 1.4em; */
    /* min-width: 0;
    min-height: 0; */
    /* justify-content: left; */
text-align:left ;
padding-left: 2vh;
}

/* .btn{
    display: inline ;
    display: flex;
} */
.buttons{
    display: flex;
    justify-content:center;
    bottom: 0;
    /* position:absolute; */
    margin-bottom: 0px;
    margin-top: 2vh;
}
.btn{
    width:70%;
    height: 150%;
    border-radius: 25px;
    /* display: flex; */
    /* justify-content: center; */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.delbtn{
    position:absolute;
    /*left: 60px;
    */right:8px;
    top:6px;
    /* width: 90%; */
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
@media only screen and (min-width:768px) { 
    .box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* background-color: black; */
        /* border: 20px solid green; */
        overflow-x:auto;
        /* align-items: center; */

    }
    .screen_img{
        width: 45%;
        height:100%;
        margin-left:1vh ;
        /* justify-self: center; */
        /* margin-top:auto; */
        /* align-self: center; */
        /* align-items: center; */

         display: grid; 
         grid-template-rows: 4fr 1fr;

        place-items: center;
        /* flex-direction: column;  */
    }
    .h2_description{
        height:90%;
    }
    .screen_div{
        text-align:left;
        margin-left:15px;
        margin-right:5px;
        margin-top: 5px;
        width: 50%;
        display: grid;
        height: 100%;
         align-items: center;
        /* height: 00%; */
    }
    .box_img {
        /* height:200%; */
        /* flex-grow: 2; */
                    /* flex:4 4 600px; */
       
    }
}