.bookPage{
    font-size:1.75vmax;
    position: absolute;
    z-index: 10;
    width: 100vw;

}
.bookPage > h3{
    text-align: left;
    margin-left: 12vw;
}
.content {
    width: 85vw;
    height: 42vmax;
    /* padding: 3%; */
    margin: 0;
    margin-left: 7vw;
    margin-right: 3vw;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-size: 1rem;
}

.content::-webkit-scrollbar {
    display: none;
}

.bookInfo{
    display:grid;
    grid-template-columns: 20vmax 1fr;
    margin-left: 8.5vw;
    width: 91vw;
    font-size: 2rem;
    column-gap: 3vw;

}



.mainUserImage{
    justify-self: start;
    /* height: 5vmax; */
    margin-top: 3.25%;
    grid-column: 2 / span 1;
    grid-row: 1 /span 1;
    margin-left: 3vw;
    /* align-self: start; */
}

.whiteBackground{
    background-color: white;
    height: 84vmax;
    position: absolute;
    z-index: 0;
    top: 16vmax;
    width: 100vw;
}

.ChooseSection{
    width: 98vw;
    margin: 0;
}

.MuiRating-sizeMedium{
    justify-self: center;
}

.addBookButton{
    grid-row: 2 /span 1;
    grid-column: 2 /span 1;
    align-self: center;
    justify-self: start;
    margin-left: 3.25vw;
}