.bookPage{
    font-size:1.75vmax;

}
.content {
    width: 61.5vmax;
    height: 42vmax;
    /* padding: 3%; */
    margin-left: 5vmax;
    margin-right: 5vmax;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    display: none;
}

.bookInfo{
    display:grid;
    grid-template-columns: 20vmax 1fr;
    margin-left: 2vmax;

}

.mainUserImage{
    justify-self: start;
    height: 5vmax;
    margin-top: 3%;
    /* align-self: start; */
}