.bookCover{
    border-radius: 0.9vmax;
    margin: 2vmin;
}

.large{
    width: 18vmax;
}

.small{
    width: 20vmin;
    height: 27vh;
}

@media (max-width: 1000px){
    .small{
        width: 20vmin;
        height: 15vh;
    }
}