#ul{

     display: flex;
    flex-wrap: wrap;
position: fixed !important;
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 100%; /* Full width */
    top:0 !important;   /* align-items: stretch; */
    justify-content:space-evenly;
    /* box-sizing: border-box; */
    margin:0px 0px;margin-top: 0px !important;
    padding: 0px 0px;
    height: 15vmin !important;
    background-color: #e1ece9;
    align-items: center;
    position: absolute;
    /* position: relative; */
  /* height: 100px;
  width: 100px; */

}
.headersli{
    margin-top: 5px;
    margin-bottom: 5px;
    /* padding-top: 13px; */
    position: fixed;
    justify-items: center;
    padding: 0px 0px;
    /* flex: 10px; */
    /* margin:0px 0px; */
    /* align-content: center;
    /* align-items: center; */
    border:1px solid black;
    /* justify-content: space-evenly; */
    
}
.main{
        border:2px solid white;
        border-radius:25px;
        width:70%;
        display:flex;
        height:10vmin;
        align-items:center ;
        flex-wrap:wrap;
        background-color:whitesmoke;
        font-size:6vmin;
        -webkit-border-radius:25px;
        -moz-border-radius:25px;
        -ms-border-radius:25px;
        
        -o-border-radius:25px;
}
.fontL{
    font-weight: lighter;
    
}
.fontB{
    font-weight: bolder;
}
.main_span{
    width:10%;
    height:8vmin;
    margin:0px 0px;
    padding:0px 0px;
}
.main_h6{
    width:45%;
    height:8vmin;
    text-align: center;
    margin:0px 0px;
    
    padding:0px 0px;
    padding-top: 6px;
    box-sizing: border-box;
}
.main_h6:hover{
    cursor: pointer;
}
.li:hover{
    cursor: pointer;
}
/* .header{ */
    /* border :2px solid black;
    position:fixed;
    left: 0;
   bottom: 0;
   height :65px;
   width: 100%; */
   /* color: white; */
   /* background-color: aqua; */
    /* margin:0px 0px; 
    border:2px solid black;
    padding: 0px 0px; */

/* } */