.details{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.details:hover{
    cursor: pointer;
}

.Flex{
    display: flex;
    overflow-x: auto;
}
.wrap{
    flex-wrap: wrap;
}

.Flex::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgb(164, 164, 164); 
    box-shadow: inset 0 0 2px rgb(164, 164, 164); 
    -webkit-border-radius: 0px;
    border-radius: 5px;
}
.Flex::-webkit-scrollbar {
    height: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(166, 166, 166); 
}

