.details{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.details:hover{
    cursor: pointer;
}

.Flex{
    display: flex;
    overflow-x: auto;
}
.wrap{
    flex-wrap: wrap;
}