.input {
    min-width: 60vmin;
    /* height: 9vmin; */
    margin-bottom: 3vmin; /*change to vmin */
    border-radius: 4px;
    border: 0px;
    padding: 3.5vmin;
    font-size: 4vmin;
}

.card {
    background-color: #cad3d0;
    max-width: 75vmin;
    margin: auto;
    border-radius: 15px;
    padding: 3.5vmin 5.5vmin;
    color: #3B28CC
    /* max-height: 80vmin; */
}

.big-logo {
    /* margin-top: vmin; */
    max-width: 40vmin;
}