.userAvatar{
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    font-size: 3vmin;
    /* width: 30vmin; */
    height: 15vmin;
    align-items: start;
    justify-items: start;
    column-gap: 2vmin;


    /* font-sizeq: 1.9vmax; */
    /* heightq: 10vmax; */
    /* align-items: start; */
    /* justify-items: start; */
    /* column-gap: 1vmax; */
    /* align-self: start; */
  
}
.userProfilePic{
    border-radius: 50%;
    width: 6vmax;
    height: 6vmax;
    object-fit: cover;
    padding-right: 0px;
    align-self: center;
    grid-row: 1 / span 2 !important;
    grid-column: 1 / span 1 !important;
    justify-self: end;
}


.name{
    align-self: end;
    margin: 2% 0;
    grid-row: 1 /span 1 !important;
    grid-column: 2 / span1 !important;
}

.subheading{
    grid-row: 2 /span 1 !important;
    grid-column: 2 / span1 !important;
}


.profile .userAvatar{
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 85vw 1fr;
    width: 12vmax;
    height: 12vmax;
}

.profile .userProfilePic{
    grid-row: 1 / span 3;
    grid-column: 2 /span 1;
    place-self: center;
}

.profile .name{
    margin: 0vh 1vw 00vh 4vw;
    grid-row: 1 /span 1;
    grid-column: 1 / span 1;
    justify-self: start;
    align-self:end !important;

}
.profile .subheading{
    margin: 0vh 1vw 0vh 4vw;
    grid-row: 2 /span 1;
    grid-column: 1 / span 1;
    justify-self: start;
    align-self: center !important;
}

.profile .contact{
    margin: 0vh 1vw 0vh 4vw;
    grid-row: 3 /span 1;
    grid-column: 1 / span 1;
    justify-self: start;
    align-self: start !important;
    font-size: 3vmin;
}
